export VMLINUZ_PATH="/Users/ani/workspaces/github.com/anishalle/containers/images/ubuntu/vmlinuz"
export INITRD_PATH="/Users/ani/workspaces/github.com/anishalle/containers/images/ubuntu/initrd"
export DISKIMG_PATH="/Users/ani/workspaces/github.com/anishalle/containers/images/ubuntu/ubuntu.img"
